$darkColor: #333333;
$redColor: #990100;
$highlightColor: #E8E8E8;
$backgroundColor: #F6F6F6;

$thumbnailSize: 128px;

.content {
  background-color: #f6f6f6;
  width: calc(100vw - 370px);
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
}

ul {
  display: inline-block;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  margin: 1px;
  width: $thumbnailSize;
  height: $thumbnailSize;
  opacity: 0.7;
}

ul:hover {
  opacity: 1.0;
}

.focused {
  opacity: 1.0;
  border-color: #333333;
}

.new {
  border-color: rgba(0, 128, 255, 0.5);
}

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  outline: none;
  border: none;
  width: $thumbnailSize;
  height: $thumbnailSize;
}

img {
  width: $thumbnailSize;
  height: $thumbnailSize;
}
